/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway&family=Roboto+Slab&family=Shantell+Sans&display=swap'); */

.fc_main_container{

}

.fc_sub_container_1{

}

.fc_sub_container_1_img_container{
    
}
.fc_sub_container_1_txt_container{

}
.fc_sub_container_1_txt_p_1{

}
.fc_sub_container_1_txt_p_2{

}