/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway&family=Roboto+Slab&family=Shantell+Sans&display=swap'); */


.service_parent_container {
    /* border: 2px solid red; */
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.service_main_container {
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform-origin: center;
    cursor: pointer;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.service_main_container:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.795);
    transform: scale(1.05);
}

.service_main_container_img_container{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.service_main_container_img{
    /* border: 2px solid green; */
}

.service_main_container_txt_container{
    /* border: 2px solid orange; */
    padding: 15px;
}

.service_main_container_p_1{
    /* border: 2px solid yellow; */
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    color: black;
    text-align: center;
}
.service_main_container_p_2{
    /* border: 2px solid purple; */
    font-family: 'Roboto Slab', serif;
    color: gray;
    margin-top: 20px;
    text-align: center;
}


@media (max-width: 768px) {
    .service_parent_container {
        grid-template-columns: repeat(2, 1fr);
    }
    .service_main_container_txt_container{
        padding: 5px;
    }
    .service_main_container_p_1{
        font-size: 15px;
    }
    .service_main_container_p_2{
        font-size: 13px;
    }
}