/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway&family=Roboto+Slab&family=Shantell+Sans&display=swap'); */


.od_main_container {
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    margin-top: 20px;
    background-color: white;
}


.od_sub_container_1 {
    /* border: 2px solid red; */
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;

}

.od_sub_container_1_1 {
    /* border: 2px solid purple; */
    display: flex;
}

.od_sub_container_1_1_1 {
    /* border: 2px solid yellow; */
    margin: 10px 30px;
}

.od_sub_container_1_1_1_p_1 {
    font-size: 13px;
    color: grey;
    font-family: 'Raleway', sans-serif;
}

.od_sub_container_1_1_1_p_2 {
    color: black;
    font-family: 'Raleway', sans-serif;
}


.od_sub_container_1_1_2 {
    /* border: 2px solid palevioletred; */
    margin: 10px 30px;
}

.od_sub_container_1_1_2_p_1 {
    font-size: 13px;
    color: grey;
    font-family: 'Raleway', sans-serif;
}

.od_sub_container_1_1_2_p_2 {
    color: black;
    font-family: 'Raleway', sans-serif;
}



.od_sub_container_1_2 {
    /* border: 2px solid green; */
    margin: 10px 30px;
}

.od_sub_container_1_2_p_1 {
    font-size: 13px;
    color: grey;
    font-family: 'Raleway', sans-serif;
}

.od_sub_container_1_2_p_2 {
    color: black;
    font-family: 'Raleway', sans-serif;
}


.od_sub_container_2 {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 330px;
    /* border: 2px solid black; */
    
}

.od_sub_container_2_1 {
    /* border: 2px solid red; */
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.od_sub_container_2_1_1 {
    /* border: 2px solid orange; */
    margin: 10px 10px;
    /* margin-left: 30px; */
    /* width: 50px;
    height: 50px; */
}
.od_sub_sub_container_2_1{
    display: flex;
}

.od_sub_container_2_1_1_img {}

.od_sub_container_2_1_2 {
    /* border: 2px solid purple; */
    margin: 10px 10px;
}

.od_sub_container_2_1_2_p_1 {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.od_sub_container_2_1_2_p_2 {
    font-size: 16px;
    color: grey;
    font-family: 'Raleway', sans-serif;
}

.od_sub_container_2_1_2_p_3 {
    margin-left: 15px;
    font-size: 13px;
    color: rgba(128, 128, 128, 0.712);
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
}

.od_sub_container_2_2 {
    /* border: 2px solid green; */
    width: 100px;
    height: 100px;
}

.od_serviceStatus_container {
    /* margin-top: -40px; */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid grey; */
    box-shadow: 2px 2px 9px grey;
    text-align: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #8533ff;
    color: white;
}

.od_serviceStatus_p_1 {
    font-family: 'Raleway', sans-serif;
}

/* Table.module.css */
.tableContainer {
    /* width: 50%; */
    /* margin: auto; */
    /* border: 2px solid red; */
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
}

.table {
    border-collapse: collapse;
    /* width: 100%; */
}

.tableHeader {
    background-color: #f2f2f2;
}

.tableCell {
    /* border: 1px solid black; */
    padding: 3px 15px;
    /* background-color: #f2f2f2; */
    text-align: center;
}

.evenRow {
    /* background-color: #f2f2f2; */
}


@media (max-width: 767px) {
    .od_sub_container_1_1 {
        flex-direction: column;
        border-right: 2px solid grey;
    }

    .od_sub_container_1_1_1 {
        margin: 6px 10px;
        padding-bottom: 5px;
        border-bottom: 2px solid rgba(194, 194, 194, 0.623);
    }

    .od_sub_container_1_1_1_p_1 {
        font-size: 11px;
        text-align: center;
    }

    .od_sub_container_1_1_1_p_2 {
        text-align: center;
        font-size: 14px;
    }

    .od_sub_container_1_1_2 {
        margin: 6px 10px;
    }

    .od_sub_container_1_1_2_p_1 {
        font-size: 11px;
        text-align: center;
    }

    .od_sub_container_1_1_2_p_2 {
        font-size: 14px;
        text-align: center;
    }

    .od_sub_container_1_2 {
        display: flex;
        flex-direction: column;
        margin: 6px 10px;
        align-items: center;
        justify-content: center;
    }

    .od_sub_container_1_2_p_1 {
        font-size: 11px;
    }

    .od_sub_container_1_2_p_2 {
        font-size: 14px;
    }
    .od_sub_sub_container_2_1{
        display: flex;
        flex-direction: column;

    }
    .od_sub_container_2_1_2_p_1 {
        font-size: 16px;
        text-align: center;
    }
    
    .od_sub_container_2_1_2_p_2 {
        font-size: 14px;
        text-align: center;
    }

    .od_sub_container_2_1_2_p_3 {
        margin-left: 15px;
        font-size: 11px;
        display: none;
    }

    .od_serviceStatus_container {
        padding: 0px 10px;
    }

    .od_serviceStatus_p_1 {
        font-size: 12px;
    }
    .tableContainer {
        /* width: 20%; */
        /* margin: auto; */
        /* border: 2px solid red; */
        /* margin-top: 20px; */
    }
    .tableCell {
        /* border: 1px solid black; */
        padding: 3px 5px;
        /* background-color: #f2f2f2; */
        text-align: center;
    }
}